{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login - Administração{% endblock %}

{% block head %}
{{ super() }}

<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}

{% block content %}

<body class="bg-gradient-primary">

    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-xl-10 col-lg-12 col-md-9">
  
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block" style="background: url(https://data.1freewallpapers.com/download/black-cat-eyes-800x600.jpg);background-position: center;
                background-size: cover;"></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                    <img class="mb-4" src="{{ url_for('static', filename='images/'+config.logo) }}" alt="" height="80px">

                      <h1 class="h4 text-gray-900 mb-4">Bem vindo novamente!</h1>
                    </div>
                    <form class="user" method="POST" action="{{ url_for('auth.login') }}">
                        <!-- Mensagens -->
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                            {% if messages %}
                              {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    {{ message }}
                                </div>
                              {% endfor %}
                            {% endif %}
                          {% endwith %}
                      <div class="form-group">
                        {{ form.cpf(class_="form-control form-control-user", autocomplete="off", inputmode="numeric", placeholder="Digite os numeros do seu CPF...") }}   
                      </div>
                      <div class="form-group">
                        {{ form.password(class_="form-control form-control-user", autocomplete="off", placeholder="Senha") }}              
                      </div>
                      <div class="form-group">
                       <p style="color:red;"><small id="capsmsg" style="display: none;">AVISO: Caps Lock está ativa!</small></p>
                      </div>
                      <div class="form-group text-center">
                        <div class="custom-control custom-checkbox small">
                            {{ form.remember_me(class_="custom-control-input") }}                        
                            {{ form.remember_me.label(class_="custom-control-label") }}
                        </div>
                      </div>

                       {{ form.submit(class="btn btn-primary btn-user btn-block")}}
                    </form>
                    <hr>
                    <div class="text-center">
                      <a class="small" href="#">Esqueceu a senha?</a>
                    </div>
                    <div class="text-center">
                      <a class="small" href="#">Criar uma conta!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </div>
  
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
  
  </body>

  
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}


