{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login - Administração{% endblock %}

{% block head %}
{{ super() }}

<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}

{% block content %}

<body class="bg-gradient-primary">

    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="d-flex justify-content-center">
            <!-- Nested Row within Card Body -->
          <div class="col-lg-6">
            <div class="p-2">
                <style>
                    .cat {
                      width: 211px;
                      height: 211px;
                      background-image: url("{{ url_for('static', filename='images/chef.png') }}");
                      position: relative;
                      margin: 5px;
                    }
                    .hand {
                      width: 36px;
                      height: 29px;
                      background-image: url("{{ url_for('static', filename='images/chef-hand.png') }}");
                      position: absolute;
                      transform: scaleY(1);
                      left: 26px;
                      bottom: -8px;
                      transition: 0.3s ease-out;
                    } 
                    .hand.password {
                      transform: translateX(30px) translateY(-25px) scale(0.5);
                    }                      

                    .hand.hand-r{
                      left: 152px;
                      transform: scaleX(-1);
                    }
                    .hand.hand-r.password {
                      transform: translateX(-25px) translateY(-30px) scale(0.5);
                    }  
                    .arms {                          
                      position: absolute;
                      top: 110px;
                      height: 100px;
                      width: 100%;
                      overflow: hidden;
                    }
                    .arm {                      
                      width: 60px;
                      height: 98px;
                      background-image: url("{{ url_for('static', filename='images/chef-arm.png') }}");
                      position: absolute;
                      left: 22px;
                      top: 100px;
                      transition: 0.3s ease-out;
                    }
                    .arm.password{
                      transform: translateX(23px) translateY(-20px);
                      top: 10px;
                    }
                    .arm.arm-r {
                      left:147px;
                      transform: scaleX(-1);
                    }
                    .arm.arm-r.password{
                      transform: translateX(-37px) translateY(-23px) scaleX(-1);
                    }
                          
                    </style>
                    <script>
                    function removerClass(){
                      document.getElementById('cat').classList.remove('password');
                      document.getElementById('hand').classList.remove('password');
                      document.getElementById('hand-r').classList.remove('password');
                      document.getElementById('arms').classList.remove('password');
                      document.getElementById('arm').classList.remove('password');
                      document.getElementById('arm-r').classList.remove('password');
                    }
                    function addClass(){
                      document.getElementById('cat').classList.add('password');
                      document.getElementById('hand').classList.add('password');
                      document.getElementById('hand-r').classList.add('password');
                      document.getElementById('arms').classList.add('password');
                      document.getElementById('arm').classList.add('password');
                      document.getElementById('arm-r').classList.add('password');
                    }

                    function mudarCampo(){
                        cpf = document.getElementById('cpf').value;
                        if (cpf.length == 14){
                          document.getElementById('password').focus();
                        }
                    }
                    </script>

                      <div class="d-flex justify-content-center">
                          <div class="cat" id="cat" style="margin-bottom:0px;">
                              <div class="hand" id="hand"></div>
                              <div class="hand hand-r"  id="hand-r"></div>
                              <div class="arms" id="arms">
                                <div class="arm"  id="arm"></div>
                                <div class="arm arm-r"  id="arm-r"></div>
                              </div>
                            </div>
                      </div>
            <div class="shadow p-3 mb-5 bg-white rounded">

              <div class="text-center">
              <img class="mb-4" src="{{ url_for('static', filename='images/'+config.logo) }}" alt="" height="80px">

                <h1 class="h4 text-gray-900 mb-4">Bem vindo novamente!</h1>
              </div>
              <form class="user" method="POST" action="{{ url_for('auth.login') }}">
                  <!-- Mensagens -->
                      {% with messages = get_flashed_messages(with_categories=true) %}
                      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                      {% if messages %}
                        {% for category, message in messages %}
                          <div class="alert alert-{{ category }}">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              {{ message }}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                <div class="form-group">
                  {{ form.cpf(class_="form-control form-control-user", autocomplete="off", inputmode="numeric", placeholder="Digite os numeros do seu CPF...", onkeyup="mudarCampo()" ) }}   
                </div>
                <div class="form-group">
                  {{ form.password(class_="form-control form-control-user", onfocus="addClass();", onblur="removerClass();", autocomplete="off", placeholder="Senha") }}              
                </div>
                <div class="form-group">
                 <p style="color:red;"><small id="capsmsg" style="display: none;">AVISO: Caps Lock está ativa!</small></p>
                </div>
                <div class="form-group text-center">
                  <div class="custom-control custom-checkbox small">
                      {{ form.remember_me(class_="custom-control-input") }}                        
                      {{ form.remember_me.label(class_="custom-control-label") }}
                  </div>
                </div>

                 {{ form.submit(class="btn btn-primary btn-user btn-block")}}
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="#">Esqueceu a senha?</a>
              </div>
              <div class="text-center">
                <a class="small" href="#">Criar uma conta!</a>
              </div>
            </div>
            </div>
          </div>

          </div>
          
  
        </div>
  
      </div>
  
    </div>
  
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
  
  </body>

  
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}


