{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login - Administração{% endblock %}

{% block head %}
{{ super() }}

<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}

{% block content %}

<body class="bg-gradient-primary">

    <div class="container">
  
      <!-- Outer Row -->
      <div class="row justify-content-center">
  
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="d-flex justify-content-center p-5">
            <!-- Nested Row within Card Body -->
          <div class="col-lg-6">               
            <div class="shadow p-3 mb-5 bg-white rounded">

              <div class="text-center">
              <img class="mb-4" src="{{ url_for('static', filename='images/'+config.logo) }}" alt="" height="80px">

                <h2 class="h4 text-gray-900 mb-4">Seu sistema irá expirar em {{dias}} dias!</h2>
                <p>O sistema irá ficar indisponível <br>
                  apartir da data de {{ config.validade.strftime('%d/%m/%Y') }}<br>
                  Entre em contato com o administrador do sistema!</p>
                <a href="{{url_for('inicio.index')}}"><button class="btn btn-primary btn-user btn-block">Ir para o sistema</button></a>
              </div>
            </div>
            </div>
          </div>

          </div>
          
  
        </div>
  
      </div>
  
    </div>
  
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
  
  </body>

  
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}


