{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Editar Perfil</h1>
    <!-- Iniciar o form -->
    <form action="{{ url_for('configuracao.empresa') }}" method="POST" enctype="multipart/form-data">
    <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
            {{form.salvar(class_="btn btn-sm btn-success")}}
            {{form.cancelar(class_="btn btn-sm btn-danger")}}
            </div>
        </div>
  </div>
  <!-- Mensagens -->
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
{% endif %}

{% endwith %}
<div class="container"><br>
    <h3>Informações comerciais</h3>
    <div class="row">
            <div class="col-sm">
                <div class="md-form">
                    {{ form.razaoSocial(class_="form-control", placeholder="...", value=config.razaoSocial) }}
                    <label> Razão Social:</label>
                </div>
            </div>
            <div class="col-sm">
            <div class="md-form">
                {{ form.nomeFantasia(class_="form-control", placeholder="...", value=config.nomeFantasia) }}
                <label> Nome fantasia:</label>
            </div>
            </div>
            <div class="col-sm">
                <div class="md-form">
                    
                    <label> CNPJ:</label>
                </div>
            </div>
    </div>
    <hr>
    <h3>Contato da empresa</h3>
    <div class="row">
        <div class="col-sm">
           <div class="md-form">
                {{ form.whatsapp(class_="form-control", value=config.whatsapp, inputmode="numeric") }}                 
                <label>Whatsapp:</label>  
           </div>
        </div>
        <div class="col-sm">
            <div class="md-form">
                {{ form.facebook(class_="form-control", value=config.facebook) }}
                <label>Facebook:</label>
            </div>
        </div>
        <div class="col-sm">
            <div class="md-form">
                {{ form.twitter(class_="form-control", value=config.twitter) }}
                <label>Twitter:</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.instagram(class_="form-control", value=config.instagram) }}
                <label>Instagram:</label>
            </div>
        </div>
        <div class="col-sm">
            <div class="md-form">
                {{ form.youtube(class_="form-control", value=config.youtube) }}
                <label>Youtube:</label>
            </div>
        </div>
        <div class="col-sm">
            <div class="md-form">
                {{ form.linkedin(class_="form-control", value=config.linkedin) }}
                <label>Linkedin:</label>
            </div>
        </div>
        <div class="col-sm">
            <div class="md-form">
                <label>Telefone:</label>
                {{ form.telefone(class_="form-control", value=config.telefone, inputmode="numeric") }}
            </div>
        </div>                
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.email(class_="form-control", value=config.email) }}
                <label>Email:</label>
            </div>
        </div>
    </div>
    <hr>
    <h3>Sobre a empresa</h3>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.descricao(class_="md-textarea form-control") }}            
                <label>Descrição curta:</label>
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.sobre(class_="md-textarea form-control") }}
                <label>Sobre a empresa:</label>
            </div>
        </div> 
    </div>
    <hr>
    <h3>Logo e imagem</h3>
    
    <div class="row">
        <div class="col-sm">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Icone</span>
                    </div>
                    <div class="custom-file">                        
                        {{ form.icon(class_="custom-file-input", lang="pt")}}
                        <label class="custom-file-label" for="icon">Icone</label>
                    </div>
                </div>
        </div>
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Logotipo</span>
                </div>
                <div class="custom-file">                    
                    {{ form.logo(class_="custom-file-input", lang="pt") }}
                    <label class="custom-file-label" for="logo">Logotipo</label>
                </div>
            </div>
        </div>
    </div>
           
    <hr>
    <h3>Localização</h3>
    <hr>
        <div class="row">

        <div class="col-sm">              
            {{ form.UF.label }}        
            {{ form.UF(class_="form-control", onchange="selecionarCidade('this.value')", required="required") }}
            {{ form.pais.label }}  
            {{ form.pais(class_="form-control", required="required") }}
        </div>
            <div class="col-sm">     
                {{ form.municipio.label }}                  
                {{ form.municipio(class_="form-control", required="required") }}           
                <div class="md-form">
                {{ form.CEP(class_="form-control", onblur="pesquisacep(this.value);", required="required", value=config.endereco.cep, inputmode="numeric") }}
                {{ form.CEP.label }}   
                </div>                
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="md-form">
                    {{ form.endereco(class_="form-control", required="required", value=config.endereco.endereco) }}
                    {{ form.endereco.label }} 
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form">
                    {{ form.numero(class_="form-control", required="required", value=config.endereco.numero, inputmode="numeric") }}
                    {{ form.numero.label }}
                </div>
            </div>
        </div>
        
        <div class="md-form">
            {{ form.complemento(class_="form-control", value=config.endereco.complemento) }}
            {{ form.complemento.label }} 
        </div> 
        <div class="md-form">
            {{ form.bairro(class_="form-control", required="required", value=config.endereco.bairro) }}
            {{ form.bairro.label }}
        </div> 
        <div class="row">
            <div class="col-sm">
                <div class="custom-control custom-checkbox">
                    {{ form.imprimir(class_="custom-control-input", checked=config.imprimir) }}
                    {{ form.imprimir.label(class_="custom-control-label") }}
                </div>
            </div>
            <div class="col-sm">
                <div class="custom-control custom-checkbox">
                    {{ form.imprimirTermica(class_="custom-control-input", checked=config.tipoImpressao) }}
                    {{ form.imprimirTermica.label(class_="custom-control-label") }}
                </div>
            </div>
            {% if current_user.id == 1 %}
            <div class="col-sm">
                <div class="custom-control custom-checkbox">
                    {{ form.ativo(class_="custom-control-input", checked=config.ativa) }}
                    {{ form.ativo.label(class_="custom-control-label") }}
                </div>
            </div>
            <div class="col-sm">
                <div class="custom-control custom-checkbox">
                    {{ form.update(class_="custom-control-input", checked=config.ativa) }}
                    {{ form.update.label(class_="custom-control-label") }}
                </div>
            </div>
            {% endif %}
        </div>
        {% if current_user.id == 1 %}
        <div class="row">
            <div class="col-sm">
                <div class="md-form">
                    {{ form.sobreUpdate(class_="md-textarea form-control") }}
                    <label>Sobre a atualização:</label>
                </div>
            </div> 
        </div>
        {%endif%}
        
    <br>
    <br>
    <br>


</div>

</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
