{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}

    <!-- Mensagens -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
    {% endwith %}
    <!-- Mensagens -->

    <div class="col-xl-12 col-lg-7">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">               
              <h6 class="m-0 font-weight-bold text-primary">Informações comerciais </h6>
          </a>
          <!-- Card Body -->
          <div class="collapse show" id="collapseCardExample">
            <div class="card-body">              
              {% if current_user.perfilUsuario.id <= 2 %}                
              <div class="col-sm-12 d-flex justify-content-end">
                <div class="row">
                  <a class="btn btn-sm btn-success" href="{{ url_for('configuracao.editarInfoComercial') }}">
                    <i class="far fa-edit"></i> Editar</a>
                </div>
              </div>
              <br>
              {% endif %}              
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm">
                    <b> Razão Social:</b> {{ config.razaoSocial }}
                  </div>
                  <div class="col-sm">
                    <b> Nome Fantasia:</b> {{ config.nomeFantasia }}
                  </div>
                  <div class="col-sm">
                    <b> CNPJ:</b> {{ config.CNPJ}}
                  </div>
                </div>
                <!-- Endereco -->
                <hr>
                <h3>Informações de localização</h3>
                <div class="row">
                  <div class="col-sm">
                      <p>
                          {% set url = config.endereco.endereco+", "+(config.endereco.numero|string)+", "+config.endereco.municipio+"-"+config.endereco.uf+", "+config.endereco.pais %}
                          <a target="_blank" href="https://www.google.com/maps/search/?api=1&query={{url|replace(',','%2C')|replace(' ','+')}}"> Clique aqui para obter as direções <i class="fas fa-external-link-alt"></i></a>
                      </p>
                  </div>
                </div>
                
              <div class="row">
                  <div class="col-sm">
                      <strong>Endereço: </strong>
                      {{ config.endereco.endereco }}
                  </div>
                  <div class="col-sm">
                      <strong>Numero: </strong>
                      {{ config.endereco.numero }}
                  </div>
                  <div class="col-sm">
                    <strong>Bairro: </strong>
                    {{ config.endereco.bairro }}
                  </div>
              </div>   
              <div class="row">               
                  <div class="col-sm">
                    <strong>UF: </strong>
                    {{ config.endereco.uf }}
                  </div>
                  <div class="col-sm">
                      <strong>Pais: </strong>
                      {{ config.endereco.pais }}
                  </div>
                  <div class="col-sm">
                    <strong>Municipio: </strong>
                    {{ config.endereco.municipio }}                      
                  </div>
                  <div class="col-sm">
                      <strong>CEP: </strong>
                      {{ config.endereco.cep }}
                  </div>
              </div>
              <div class="row">
                <div class="col-sm">
                  <strong>Complemento: </strong>
                  {{ config.endereco.complemento }}
                </div>
              </div>
            <!-- Fim endereco -->
                <!-- Contato -->
                <hr>
                <h3>Informações de contato</h3>
                <div class="row">
                  <div class="col-sm">
                    <strong>Telefone: </strong>  
                    <a href="tel:{{ config.telefone }}">{{ config.telefone }}</a> 
                  </div>
                  <div class="col-sm">
                    <strong>Celular: </strong>  
                    <a href="tel:{{ config.whatsapp }}">{{ config.whatsapp }}</a>
                  </div>
                  <div class="col-sm">
                    <strong>Email: </strong>
                    <a target="_blank" href="mailto:{{ config.email }}">  
                    {{ config.email }}</a>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-sm">
                    <strong>Facebook: </strong>  
                    <a target="_blank" href="https://www.facebook.com/{{ config.facebook }}">{{ config.facebook }}</a target="_blank"> 
                  </div>
                  <div class="col-sm">
                    <strong>Twitter: </strong>  
                    <a target="_blank" href="https://twitter.com/{{ config.twitter }}">{{ config.twitter }}</a target="_blank">
                  </div>
                  <div class="col-sm">
                    <strong>Instagram: </strong>
                    <a target="_blank" href="instagram://user?username={{ config.instagram }}">  
                    {{ config.instagram }}</a>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-sm">
                    <strong>Youtube: </strong>  
                    <a target="_blank" href="https://www.youtube.com/results?search_query={{ config.youtube|replace(' ','+') }}">{{ config.youtube }}</a target="_blank"> 
                  </div>
                  <div class="col-sm">
                    <strong>Linkedin: </strong>  
                    <a target="_blank" href="https://www.linkedin.com/in/{{ config.linkedin }}">{{ config.linkedin }}</a target="_blank">
                  </div>
                  <div class="col-sm">
                  </div>
                </div>
                <!-- Fim do contato -->
                <hr>
                <!-- Validade do sistema -->
                <div class="row">
                  <div class="col-sm">
                    <b> Validade do sistema:</b> {{ config.validade.strftime('%d/%m/%Y') }}
                  </div>
                  <div class="col-sm">
                    <b> Versão do sistema:</b> {{ config.versao }}
                  </div>
                  {% if current_user.perfilUsuario.id == 1 %}
                  <div class="col-sm">
                    <b>Status do sistema:</b> 
                    {% if config.ativa %}
                    <i class="fas fa-check" style="color:green;"></i>
                    {% else %}
                    <i class="fas fa-times" style="color:red;"></i>
                    {% endif %}
                  </div>                  
                  <div class="col-sm">
                    <b>Possui atualização:</b> 
                    {% if config.update %}
                    <i class="fas fa-check" style="color:green;"></i>
                    {% else %}
                    <i class="fas fa-times" style="color:red;"></i>
                    {% endif %}
                  </div>
                  {% endif %}
                </div>
              </div>
              
          </div>
          <!-- Fim do cardbody  -->
        </div>
      </div>
    </div>

    <div class="col-xl-12">
        <div class="row">
    
    
    
            <div class="col-xl-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <a href="#impressao" class="d-block card-header py-3" data-toggle="collapse" role="button"
                        aria-expanded="true" aria-controls="impressao">
                        <h6 class="m-0 font-weight-bold text-primary">Impressão </h6>
                    </a>
                    <!-- Card Body -->
                    <div class="collapse" id="impressao">
                        <div class="card-body">
                            {% if 2 >= current_user.perfilUsuario.id %}
                            <div class="col-sm-12 d-flex justify-content-end">
                                <div class="row">
                                    <a class="btn btn-sm btn-success" href="{{ url_for('configuracao.impressao')}}">
                                        <i class="far fa-edit"></i> Editar
                                    </a>
                                </div>
                            </div>
                            {% endif %}
    
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm">
                                        <b> Imprimir automaticamente após a criação do pedido:</b>
                                        {% if config.imprimir %}
                                        Sim
                                        {% else %}
                                        Não
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm">
                                        <b> Imprimir em impressora termica:</b>
                                        {% if config.tipoImpressao %}
                                        Sim
                                        {% else %}
                                        Não
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fim do cardbody  -->
            </div>
            <div class="col-xl-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <a href="#logo-icon" class="d-block card-header py-3" data-toggle="collapse" role="button"
                        aria-expanded="true" aria-controls="logo-icon">
                        <h6 class="m-0 font-weight-bold text-primary">Icone e Logo </h6>
                    </a>
                    <!-- Card Body -->
                    <div class="collapse" id="logo-icon">
                        <div class="card-body">
                            {% if 2 >= current_user.perfilUsuario.id %}
                            <div class="col-sm-12 d-flex justify-content-end">
                                <div class="row">
                                    <a class="btn btn-sm btn-success " href="{{ url_for('configuracao.iconeLogo')}}">
                                        <i class="far fa-edit"></i> Editar</a>
                                </div>
                            </div>
                            <br>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4>Icone</h4>
                                    <img src="{{ url_for('static', filename="images/" + config.icon) }}"
                                        class="img-thumbnail">
                                </div>
                                <div class="col-sm-6">
                                    <h4>Logo</h4>
                                    <img src="{{ url_for('static', filename="images/" + config.logo) }}"
                                        class="img-thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fim do cardbody  -->
                </div>
            </div>
    
            <div class="col-xl-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <a href="#status-padrao" class="d-block card-header py-3" data-toggle="collapse" role="button"
                        aria-expanded="true" aria-controls="status-padrao">
                        <h6 class="m-0 font-weight-bold text-primary">Status padrão </h6>
                    </a>
                    <!-- Card Body -->
                    <div class="collapse" id="status-padrao">
                        <div class="card-body">
                            {% if 2 >= current_user.perfilUsuario.id %}
                            <div class="col-sm-12 d-flex justify-content-end">
                                <div class="row">
                                    <a class="btn btn-sm btn-success "
                                        href="{{ url_for('configuracao.editarStatusPadrao')}}">
                                        <i class="far fa-edit"></i> Editar</a>
                                </div>
                            </div>
                            {% endif %}
    
                            <div class="col-sm-12">

                              
                            </div>    
    
                        </div>
                    </div>
                    <!-- Fim do cardbody  -->
                </div>
            </div>
    
    
    
        </div>
    </div>

<div class="col-xl-12 col-lg-7">
  <div class="card shadow mb-4">
    <!-- Card Header - Dropdown -->
    <a href="#desc" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="desc">               
        <h6 class="m-0 font-weight-bold text-primary">Descrição da empresa</h6>
    </a>
    <!-- Card Body -->
    <div class="collapse" id="desc">
      <div class="card-body">              
        {% if current_user.perfilUsuario.id <= 2 %}                
        <div class="col-sm-12 d-flex justify-content-end">
          <div class="row">
            <a class="btn btn-sm btn-success" href="{{url_for('configuracao.editarDescricao')}}">
              <i class="far fa-edit"></i> Editar</a>
          </div>
        </div>
        <br>
        {% endif %}  
        
          <h4>Descrição curta</h4>
        <div class="row">
          <div class="col-sm">
            <p>{{ config.descricao }}</p>
          </div>
        </div>
          <h4>Descrição longa</h4>
        <div class="row">       
          <div class="col-sm">
            <p>{{ config.sobre }}</p>
          </div>
        </div>
      </div>             
    </div>
    <!-- Fim do cardbody  -->
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
