{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<!-- Inicio do Form -->
<form action="{{ url_for('usuarios.editarView') }}" method='POST'> 

    
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Selecionar Colunas</h1>        
        <div class="mb-2 mr-2">
            {{ viewForm.salvar(class_="btn btn-sm btn-success shadow-sm")}}            
            {{ viewForm.cancelar(class_="btn btn-sm btn-danger shadow-sm")}}
        </div>        
      </div>
    
    <!-- Mensagens -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
    {% endwith %}
    <!-- Mensagens -->
    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Selecionar Colunas </h6>
            </div>
            <div class="card-body">

    <strong> Dados pessoais </strong> 
                <div class="row">
                    
                    <div class="col-sm">
                        <div class="custom-control custom-checkbox">  
                        {{ viewForm.viewFormfuncionario(class_="custom-control-input", checked=meuPerfil.view.nomeView) }}
                        {{ viewForm.viewFormfuncionario.label(class_="custom-control-label") }}                             
                        </div>                           
                    </div>
                    <div class="col-sm">
                        <div class="custom-control custom-checkbox">
                            {{ viewForm.viewFormCPF(class_="custom-control-input", checked=meuPerfil.view.CPFView) }}
                            {{ viewForm.viewFormCPF.label(class_="custom-control-label") }}     
                        </div>
                    </div>  
                </div> 
                <div class="row">
                    <div class="col-sm">
                        <div class="custom-control custom-checkbox">
                            {{ viewForm.viewFormimagem(class_="custom-control-input", checked=meuPerfil.view.imagemView) }}
                            {{ viewForm.viewFormimagem.label(class_="custom-control-label") }}
                        </div>
                    </div>
                </div> 
                <hr>
                <strong> Endereço </strong>
                    <div class="row">
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormUF(class_="custom-control-input", checked=meuPerfil.view.UFView) }}
                                {{ viewForm.viewFormUF.label(class_="custom-control-label") }}
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormmunicipio(class_="custom-control-input", checked=meuPerfil.view.municipioView) }}
                                {{ viewForm.viewFormmunicipio.label(class_="custom-control-label") }}
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormpais(class_="custom-control-input", checked=meuPerfil.view.paisView) }}
                                {{ viewForm.viewFormpais.label(class_="custom-control-label") }}
                            </div>
                        </div>  
                    </div>                     
                    <div class="row">
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormCEP(class_="custom-control-input", checked=meuPerfil.view.CEPView) }}
                                {{ viewForm.viewFormCEP.label(class_="custom-control-label") }} 
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormendereco(class_="custom-control-input", checked=meuPerfil.view.enderecoView) }}
                                {{ viewForm.viewFormendereco.label(class_="custom-control-label") }} 
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormnumero(class_="custom-control-input", checked=meuPerfil.view.numeroView) }}
                                {{ viewForm.viewFormnumero.label(class_="custom-control-label") }}
                            </div>
                        </div>  
                    </div>                    
                    <div class="row">
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormcomplemento(class_="custom-control-input", checked=meuPerfil.view.complementoView) }}
                                {{ viewForm.viewFormcomplemento.label(class_="custom-control-label") }}
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormbairro(class_="custom-control-input", checked=meuPerfil.view.bairroView) }}
                                {{ viewForm.viewFormbairro.label(class_="custom-control-label") }}
                            </div>
                        </div>
                        <div class="col-sm">

                        </div>
                    </div> 
                    <hr>
                    <strong> Dados de contato </strong>
                    <div class="row">
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormtelefone(class_="custom-control-input", checked=meuPerfil.view.telefoneView) }}
                                {{ viewForm.viewFormtelefone.label(class_="custom-control-label") }}
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormcelular(class_="custom-control-input", checked=meuPerfil.view.celularView) }}
                                {{ viewForm.viewFormcelular.label(class_="custom-control-label") }}
                            </div>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-sm">
                            <div class="custom-control custom-checkbox">
                                {{ viewForm.viewFormemail(class_="custom-control-input", checked=meuPerfil.view.emailView) }}
                                {{ viewForm.viewFormemail.label(class_="custom-control-label") }}
                            </div>
                        </div>
                    </div> 
                </div> 
            </div> 



    </form>
        <!-- Form Fim -->  




{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
