{% extends "loja_base.html" %}

{% block title %}Contato{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div data-aos="fade-up" data-aos-duration="1050" data-aos-delay="100" data-aos-once="true"  class="contact-clean">
        <form method="post">
            <h2 class="text-center">Nos envie uma mensagem</h2>
            <p class="text-center">Estamos ansiosos pelo seu contato</p>
            <div class="form-group"><input class="form-control" type="text" name="Nome" placeholder="Nome"></div>
            <div class="form-group"><input class="form-control" type="text" name="Telefone" placeholder="Telefone"></div>
            <div class="form-group"><input class="form-control is-invalid" type="email" name="Email" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div>
            <div class="form-group"><textarea class="form-control" rows="14" name="message" placeholder="Mensagem"></textarea></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Enviar</button></div>
        </form>
    </div>
    <div class="map-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Onde nos encontrar</h2>
            </div>
        </div>
        <iframe allowfullscreen="" frameborder="0" width="100%" height="450" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=Leonel+Informatica&amp;zoom=15"></iframe>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
