{% extends "loja_base.html" %}

{% block title %}Produtos{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}

<div data-aos="fade-up" data-aos-duration="1050" data-aos-delay="100" data-aos-once="true" class="features-boxed">
    <div class="container">
        <div class="intro"></div>
        <div class="container">
            <div class="row">
                <h2 class="text-center">Produtos</h2>
            </div>
            
            <div class="row">
                {% for produto in produtos %}
                <div class="col-sm-3">
                    <article class="col-item">
                        <div class="photo">
                            <a href="#"> <img src="{{ url_for('static', filename='images/products/'+produto.imagem) }}" class="img-responsive" /> </a>
                        </div>
                        <div class="info">
                            <div class="row">
                                <div class="price-details col-md-6">
                                    <p class="details">
                                        {{ produto.descricaoProduto }}
                                        <br>
                                        Cat. {{ produto.categoria.categoria }}
                                    </p>
                                    <h1>{{ produto.nomeProduto }}</h1>
                                    <span class="price-new">R$ {{ produto.precoVenda }}</span>
                                </div>
                            </div>
                            <div class="separator clear-left">
                                <p class="btn-add">
                                        <a href="#" class="hidden-sm"><i class="fa fa-shopping-cart"></i><small>Add Carrinho</small></a>
                                </p>
                                <p class="btn-details">
                                    <a href="#" class="hidden-sm" data-toggle="tooltip" data-placement="top" title="Adicionar a lista de desejos"><i class="fa fa-heart"></i></a>
                                    <!-- <a href="#" class="hidden-sm" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fa fa-exchange"></i></a> -->
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>
                
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
