{% extends "loja_base.html" %}

{% block title %}Sistemas de gestão{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<div class="header-blue">
        <div class="container hero" style="margin-top: 0px; margin-bottom: 10px;">

                <div class="row" data-aos="fade" data-aos-duration="2050" data-aos-delay="200" data-aos-once="true">
        
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
        
                        <h1>Seu negócio com voce!</h1>
        
                        <p>Acompanhe suas vendas, Venda pelo celular, envie recibos, imprima recibos em impressoras termicas. Isso e muito mais em qualquer dispositivo com acesso a internet!</p><button class="btn btn-light btn-lg action-button" type="button">Saiba mais</button></div>
        
                    <div
        
                        class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
        
                        <div class="iphone-mockup"><img src="{{ url_for('static', filename='loja/img/iphone.svg') }}" class="device">
        
                            <div class="screen"></div>
        
                        </div>
        
                </div>
        
            </div>
            <br>
        
        </div>
</div>


<div data-aos="fade-up" data-aos-duration="1050" data-aos-delay="100" data-aos-once="true" class="features-boxed">

        <div class="container">

            <div class="intro">

                <h2 class="text-center">Recursos do sistema</h2>

                <p class="text-center">Com um sistema de gerenciamento voce pode ficar tranquilo com seu negocio e ainda aproveitar as facilidades para fechar novos negócios no seu dia a dia</p>

            </div>

            <div class="row justify-content-center features">

                <div class="col-sm-6 col-md-5 col-lg-4 item">

                    <div class="box"><i class="fa fa-map-marker icon"></i>

                        <h3 class="name">Funciona em qualquer lugar</h3>

                        <p class="description">Basta ter o acesso a internet e o sistema estará acessivel.*</p><a href="#" class="learn-more">Saiba mais »</a></div>

                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 item">

                    <div class="box"><i class="fa fa-clock-o icon"></i>

                        <h3 class="name">Acompanhe os seus pedidos</h3>

                        <p class="description">Acompanhe seus pedidos, se estão em produção ou em entrega para agilizar e otimizar o tempo despendido em sua empresa</p><a href="#" class="learn-more">Saiba mais »</a></div>

                </div>

                <div class="col-sm-6 col-md-5 col-lg-4 item">

                    <div class="box"><i class="fa fa-list-alt icon"></i>

                        <h3 class="name">Personalizado</h3>

                        <p class="description">O atendimento a sua empresa é personalizadoo, se desejar adicionar novos recursos ou modificar, basta entrar em contato com nossa equipe de desenvolvimento e resolvemos para voce.</p><a href="#" class="learn-more">Saiba mais »</a></div>

                </div>

            </div>

        </div>

    </div>

    <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100" data-aos-once="true" class="highlight-phone">

        <div class="container">

            <div class="row">

                <div class="col-md-8">

                    <div class="intro">

                        <h2>Crie seus pedidos com o Módulo Ponto de Venda</h2>

                        <p>Com o modulo ponto de venda, os pedidos chegam mais rapidamente até a produção, agilizando o atendimento do seu cliente.</p><a class="btn btn-primary btn-block" role="button" href="#">Ver como funciona o Ponto de venda</a></div>

                </div>

                <div class="col-sm-4">

                    <div class="d-none d-md-block iphone-mockup"><img src="{{ url_for('static', filename='loja/img/iphone.svg') }}" class="device">

                        <div class="screen"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
