{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}

<form method="POST" action="{{ url_for('estoque.editarProduto', id = cView.id) }}" enctype="multipart/form-data">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Editar produto</h1>        
        <div class="mb-2 mr-2">        
            {{ estoqueForm.salvar(class_="btn btn-sm btn-success shadow-sm")}}
            {{ estoqueForm.cancelar(class_="btn btn-sm btn-danger shadow-sm")}}
        </div>        
      </div>
    
    <!-- Mensagens -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
    {% endwith %}
    <!-- Mensagens -->
        
    <div class="card shadow mb-4">
      <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Editar produto </h6>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-sm-6">
                <div class="md-form">
                    {{ estoqueForm.nomeProduto.label}}  
                    {{ estoqueForm.nomeProduto(class_="form-control", value=cView.nomeProduto)}}
                </div>
              </div>
              <div class="col-sm-6">                            
                  <div class="md-form">
                    {{ estoqueForm.precoVenda.label}}
                    {{ estoqueForm.precoVenda(onchange="precoVenda(this.value)", class_="form-control", inputmode="numeric", value=cView.precoVenda)}}
                  </div>
              </div>
          </div>
          <div class="row">                        
              <div class="col-sm-6">
                <div class="md-form">
                  {{ estoqueForm.descricaoProduto.label}}
                  {{ estoqueForm.descricaoProduto(class_="form-control", value=cView.descricaoProduto)}} 
                </div>
              </div> 
              <div class="col-sm-6">
                  {{ estoqueForm.categoria.label}}
                  {{ estoqueForm.categoria(class_="form-control")}} 
              </div> 
          </div>
          <br>
          <div class="row">
            <div class="col-sm">   
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Imagem do produto</span>
                    </div>
                    <div class="custom-file">                    
                        {{ estoqueForm.imagem(class_="custom-file-input", lang="pt") }}
                        <label class="custom-file-label" for="logo">Imagem do produto</label>
                    </div>
                </div> 
            </div>
          </div>
      </div>
    </div>        
</form>




{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>    
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
