{% extends "base.html" %}

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Produtos</h1>        
        <div class="mb-2 mr-2">
            <a href="{{ url_for('estoque.cadastroProduto') }}"><button class="btn btn-sm btn-success shadow-sm">Cadastrar produto</button></a>     
             <!-- Basic dropdown -->
            <button class="btn btn-sm btn-primary dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categorias</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('estoque.cadastroCategoria') }}"><i class="fas fa-plus" style="color:green;"></i> Adicionar categoria</a>
                <a class="dropdown-item" href="{{ url_for('estoque.excluirCategoria') }}"><i class="far fa-trash-alt" style="color:red;"></i> Excluir Categoria</a>
                <!-- <div class="dropdown-divider"></div> -->
            </div>
            <!-- Basic dropdown -->  
        </div>        
      </div>
    
    <!-- Mensagens -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
    {% endwith %}
    <!-- Mensagens -->

{% if produtos == [] %}
<div class="text-center">
        <h2>Não há nenhum produto cadastrado!</h2>
        <p>Manter o estoque em dia ajuda a manter os clientes comprando.</p>
        <img src="{{ url_for('static', filename='admin/produtos.png')}}" class="image-responsive" height="300"><br><br>
    
        <a href="{{ url_for('estoque.cadastroProduto') }}"><button class="btn btn-sm btn-success">Cadastrar um produto agora!</button></a>
        <br><br><br>
    </div>
{% else %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Produtos </h6>
    </div>
    <div class="card-body">
            <div id="imprimir" class="table-responsive">
                    <table id="example" class="display table table-bordered">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>Nome do produto</th>
                                    <th>Descrição</th>
                                    <th>Preço de venda</th>
                                    <th>Categoria</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for produto in produtos %}
                                <tr>
                                    <td class="align-middle">
                                        <img src="{{ url_for('static', filename='images/products/' + produto.imagem) }}" width="50px" class="rounded-circle z-depth-1-half">
                                    </td>  
                                    <td class="align-middle">{{ produto.nomeProduto }}</td>                      
                                    <td class="align-middle">{{ produto.descricaoProduto }}</td>
                                    <td class="align-middle">{{ produto.precoVenda }}</td>
                                    <td class="align-middle">{{ produto.categoria.categoria }}</td>
                                    <td class="align-middle">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Ações
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{{ url_for('estoque.visualizarProduto', id = produto.id) }}">
                                                <span class="fas fa-search" style="color:#3366ff" aria-hidden="true">
                                                </span>&nbspVisualizar</a>   
            
                                            <a class="dropdown-item" href="{{ url_for('estoque.editarProduto', id = produto.id) }}">
                                                <span class="fas fa-pencil-alt" style="color:green" aria-hidden="true"></span>
                                                </span>&nbspEditar Produto</a>
                                            
                                            <a class="dropdown-item" href="{{ url_for('estoque.excluirProduto', id = produto.id) }}">
                                                <span class="fas fa-trash-alt" style="color:red" aria-hidden="true">
                                                </span>&nbspExcluir</a>                                    
                                        </div>
                                    </div>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
              </div>
    </div>
</div>

  
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='moment.min.js') }}"></script>    
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='datetime-moment.js') }}"></script>
<script src="{{ url_for('static', filename='tables.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
