{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Visualizar produto</h1>        
    <div class="mb-2 mr-2">
        <a href="{{ url_for('estoque.editarProduto', id = cView.id) }}">
            <button type="button" class="btn btn-sm btn-success">Editar Produto</button>
        </a>
        <a href="{{ url_for('estoque.index') }}">
            <button type="button" class="btn btn-sm btn-danger">Cancelar</button>
        </a> 
    </div>        
  </div>

<!-- Mensagens -->
{% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
{% endwith %}
<!-- Mensagens -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Visualizar produto </h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-2">
          <strong> Foto produto</strong>
          <img src="{{ url_for('static', filename='images/products/' + cView.imagem) }}" class="img-thumbnail"> 
        </div>
        <div class="col-sm-10">
          <strong>Nome do produto: </strong>
          {{ cView.nomeProduto}}<br>
          <strong>Descrição: </strong>
          {{ cView.descricaoProduto}}<br>
          <strong>Preço de venda: </strong>
          {{ cView.precoVenda}}<br>      
        </div>
      </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}
