{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Cartão de visitas</h1>
    <div class="mb-2 mr-2">

        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-share-alt"></i>&nbsp;Compartilhar
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" target="_blank"
                    href="https://wa.me/?text=Clique no link para salvar meu contato {{ url }}">
                    <i class="fab fa-whatsapp"></i>&nbsp; Enviar via Whats App</a>
                <a class="dropdown-item"
                    href="mailto:?subject=Meu contato&body=Clique no link para salvar meu contato {{ url }}">
                    <i class="far fa-envelope-open"></i>&nbsp; Enviar via Email</a>
                <a class="dropdown-item" href="javascript:screenshot();">
                    <i class="far fa-save"></i>&nbsp; Salvar Cartão Virtual</a>
            </div>
        </div>
    </div>
</div>


<!-- Mensagens -->
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
<!-- Mensagens -->

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">As informações do cartão de visitas estão relacionados aos dados cadastrados em perfil.</h6>
    </div>
    <div class="card-body">
<!-- INICIO CORPO -->

<!-- Novo card -->
<div id="card">
    <div class="row">
        <div class="col-sm-4 d-flex align-items-center">
            <img src="{{ url_for('static', filename='images/'+config.logo) }}" class="img-fluid">
        </div>
        <div class="col-sm-8">
                <div class="col-sm-12">
                        <div class="row mb-4">
                            <div class="col-sm">
                                    <h2>{{ config.nomeFantasia }}</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                               <h4>{{ meuPerfil.nome }}</h4>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm">
                                <h5>{{ meuPerfil.perfilUsuario.nome }}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>Telefone: </strong>
                                {{ config.telefone }}
                            </div>
                            <div class="col-sm-6">
                                <strong>Email: </strong>
                                {{ meuPerfil.email }}
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="col-sm">
                                <strong>Endereço: </strong>
                                {{ meuPerfil.endereco.endereco }}, {{ meuPerfil.endereco.numero }}, Bairro
                                {{ meuPerfil.endereco.bairro }}, {{ meuPerfil.endereco.municipio }}-{{ meuPerfil.endereco.uf }},
                                {{ meuPerfil.endereco.pais }}, {{ meuPerfil.endereco.cep }}
                            </div>
                        </div>
            
                    </div>
        </div>
    </div>
</div>
    
        <div id="card" class="col-md-5 text-center" style="display: table; margin: 0 auto;">
                <div>
                    <br>
                    
        
                </div>
                
            </div>
<!-- FIM DO CORPO -->
    </div>
</div>

<div class="container">
    <small>
        <p></p>
    </small>
</div>

<div class="container">
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='html2canvas.min.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}