{% extends "base.html" %}

{% block head %}
{{ super() }}
<script src="/static/material/js/jquery-3.3.1.min.js"></script>

{% endblock %}

{% block page_content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Adicionar Anuncio</h1>
     <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a href="{{ url_for('loja.indexAnuncios') }}"><button class="btn btn-sm btn-danger">Cancelar</button></a>
        <!-- <a href="#"><button class="btn btn-sm btn-outline-primary">Selecionar Relatórios</button></a> -->
      </div>
    </div>
  </div>
<!-- Mensagens -->
{% with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
{% endwith %}
<!-- Mensagens -->
<div id="msgJs"></div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-sm btn-success">Selecionar produto</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.titulo(class_="form-control", placeholder="Titulo do anuncio") }}
                {{ form.titulo.label }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.descricao(class_="md-textarea form-control", placeholder="Descreva o anuncio",rows="4") }}
                {{ form.descricao.label }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.precoVenda(class_="form-control", placeholder="0,00") }}
                {{ form.precoVenda.label }}
            </div>
        </div>
        <div class="col-sm">
            {{ form.categoria.label }}
            {{ form.categoria(class_="form-control") }}
        </div>
        <div class="col-sm">
            <div class="custom-control custom-checkbox" style="margin-top: 40px;">
                {{ form.destaque(class_="custom-control-input") }}
                {{ form.destaque.label(class_="custom-control-label") }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.link(class_="form-control", placeholder="Link externo do anuncio") }}
                {{ form.link.label }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" onclick="document.getElementById('imagem').click();">Selecionar imagem</span>
                </div>
                <div class="custom-file">
                    {{ form.imagem(class_="custom-file-input", lang="pt") }}
                    <label id="nomeArquivo" class="custom-file-label" for="logo"></label>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm">
            <h3 id="titulo" style="display: none;">Prévia da imagem</h3>
            <img id="imgPreview">
        </div>
    </div>
    <script>
        $(function(){
            $('#imagem').change(function(){
                const file = $(this)[0].files[0];
                const fileReader = new FileReader();
                fileReader.onloadend = function(){
                    $('#imgPreview').attr('src', fileReader.result);
                    $('#imgPreview').attr('class', 'img-thumbnail');
                    $('#titulo').attr('style', 'display: block;');
                    document.getElementById('nomeArquivo').innerHTML = file.name;

                }
                fileReader.readAsDataURL(file);
            })
        })
    </script>

</div>



{% endblock %}

{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='datetime-moment.js') }}"></script>
<script src="{{ url_for('static', filename='tables.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
