{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Cadastrar pedido</h1>
  {% if produtos != [] %}
  <div class="mb-2 mr-2">
    <button class="btn btn-sm btn-success shadow-sm" onclick="enviar()">Criar pedido</button>
    <button class="btn btn-sm btn-warning shadow-sm" onclick="limparFormulario()">Limpar formulário</button>
    <button class="btn btn-sm btn-danger shadow-sm" onclick="cancelar()">Cancelar</button>
  </div>
  {% endif %}
</div>

<!-- Mensagens -->
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  {{ message }}
</div>
{% endfor %}
{% endif %}

{% endwith %}
<div id="mensagemJs"> </div>

{% if produtos == [] %}
<div class="text-center">
  <h2>Não há nenhum produto cadastrado!</h2>
  <p>Sem os produtos, o ponto de venda nao funciona corretamente. Cadastre produtos para que possam ser adicionados ao
    pedido.</p>
  <img src="{{ url_for('static', filename='admin/produtos.png')}}" class="image-responsive" height="300"><br><br>

  <a href="{{ url_for('estoque.cadastroProduto') }}"><button class="btn btn-sm btn-success">Cadastrar um produto
      agora!</button></a>
  <br><br><br>
</div>
{% else %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Cadastrar pedido </h6>
  </div>
  <div class="card-body">
    <!-- Corpo -->
    <div class="row pl-2 pr-2">
      <button type="button" class="btn btn-sm btn-primary mr-auto" data-toggle="modal" data-target="#pesquisarCliente">
        <i class="fas fa-search"></i> Pesqsuisar Cliente
      </button>
      <button type="button" class="btn btn-sm btn-success ml-auto" data-toggle="modal" data-target="#pesquisarProduto">
        <i class="fas fa-plus"></i> Adicionar produto
      </button>
    </div>
    <!-- Modal Pesquisa Clientes -->
    <div class="modal fade" id="pesquisarCliente" tabindex="-1" role="dialog" aria-labelledby="pesquisarClienteLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pesquisarClienteLabel">Pesquisar Clientes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {% if clientes == [] %}
            <div class="text-center">
              <h2>Não há nenhum cliente cadastrado!</h2>
              <p>Cadastrar seu clientes ajuda a manter relações e gerar novas vendas.</p>
              <img src="{{ url_for('static', filename='admin/clientes.png')}}" class="image-responsive"
                height="300"><br><br>

              <a href="{{ url_for('usuarios.cadastrarCliente') }}"><button type="button"
                  class="btn btn-sm btn-success">Cadastrar um cliente agora!</button></a>
              <br><br><br>
            </div>
            {% else %}

            <div class="table-responsive">
              <table id="example" class="display table table-bordered">
                <thead class="text-center text-black">
                  <tr>
                    <th>Cliente</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Celular</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  {% for cliente in clientes %}
                  <tr>
                    <td>{{ cliente.nome }}</td>
                    <td>{{ cliente.CPF }}</td>
                    <td><a href="tel:{{ cliente.telefone }}">{{ cliente.telefone }}</a></td>
                    <td><a href="tel:{{ cliente.celular }}">{{ cliente.celular }}</a></td>
                    <td>
                      <button type="button" class="btn btn-sm btn-success" data-dismiss="modal" aria-label="Close"
                        onclick="setCliente(
                                                          '{{ cliente.id }}', 
                                                          '{{ cliente.nome }}', 
                                                          '{{ cliente.CPF }}',
                                                          '{{ cliente.endereco.endereco }}, {{ cliente.endereco.numero }} Bairro {{ cliente.endereco.bairro }} {{ cliente.endereco.municipio }}-{{ cliente.endereco.uf }} {{ cliente.endereco.pais }}',
                                                          '{{ cliente.telefone }} ', '{{ cliente.celular }}', '{{cliente.frete}}');">Selecionar</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
          </div>
          <div class="modal-footer">
            <a href="{{ url_for('usuarios.cadastrarCliente') }}"> <button type="button"
                class="btn btn-sm btn-success">Cadastrar cliente</button></a>
            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- FIM Modal Pesquisa Clientes -->

    <!-- Modal Pesquisa Produtos -->

    <!-- Modal -->
    <div class="modal fade" id="pesquisarProduto" tabindex="-1" role="dialog" aria-labelledby="pesquisarProdutoLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pesquisarProdutoLabel">Pesquisar Produtos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            {% if produtos == [] %}
            <div class="text-center">
              <h2>Não há nenhum produto cadastrado!</h2>
              <p>Manter o estoque em dia ajuda a manter os clientes comprando.</p>
              <img src="{{ url_for('static', filename='admin/produtos.png')}}" class="image-responsive"
                height="300"><br><br>

              <a href="{{ url_for('estoque.cadastroProduto') }}"><button class="btn btn-sm btn-success">Cadastrar
                  um produto agora!</button></a>
              <br><br><br>
            </div>
            {% else %}

            <div id="imprimir" class="table-responsive">
              <table id="example3" class="display table table-bordered">
                <thead class="text-center text-black">
                  <tr>
                    <th> </th>
                    <th>Nome do produto</th>
                    <th>Descrição</th>
                    <th>Preço de venda</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  {% for produto in produtos %}
                  <tr>
                    <td>
                      <img src="{{ url_for('static', filename='images/products/' + produto.imagem) }}" width="50px"
                        class="rounded-circle z-depth-1-half">
                    </td>
                    <td>{{ produto.nomeProduto }}</td>
                    <td>{{ produto.descricaoProduto }}</td>
                    <td>{{ produto.precoVenda }}</td>
                    <td>{{ produto.categoria.categoria }}</td>
                    <td>
                      <div class="btn-group">
                        <button data-dismiss="modal" type="button" class="btn btn-sm btn-success"
                          onclick="setProduto('{{ produto.id }}','{{ produto.nomeProduto }}','{{ produto.precoVenda }}');">
                          Selecionar
                        </button>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- FIM Modal Pesquisa Produtos -->

    <!-- Tabela de itens -->
    <!-- Informações do cliente -->
    <div id="informacoesCliente">
      <strong style="display:none;">{{ form.cliente.label}}</strong>
      <div class="input-group mb-2">
        {{ form.cliente(class_="form-control", style="display:none;")}}
      </div>

      <div id="InfosCliente" style="display:none;">

        <div class="row">
          <div class="col-sm" style="display:none">
            <p id="idCliente"></p>
          </div>
          <div class="col-sm">
            <strong>Nome: </strong>
            <p id="NomeCliente"></p>
          </div>
          <div class="col-sm">
            <strong>CPF: </strong>
            <p id="CPFCliente"></p>
          </div>
          <div class="col-sm">
            <strong>Telefone: </strong>
            <p id="TelefoneCliente"> </p>
          </div>
          <div class="col-sm">
            <strong>Celular: </strong>
            <p id="CelularCliente"> </p>
          </div>
        </div>
        <strong>Endereço: </strong>
        <p id="EnderecoCliente"></p>
      </div>
    </div>
    <!-- Fim informações do cliente -->

    <table id="tabelaPedido" class="table table-sm" style="display:none;">
      <thead>
        <tr>
          <th>#</th>
          <th>Quantidade</th>
          <th>Produto</th>
          <th>Preço Unitário</th>
          <th>Preço Total</th>
          <th></th>
        </tr>
      </thead>
    </table>

    <div id="resumoPedido" style="display:none;">
      <div class="row mb-4">
        <div class="col-sm">
          <label for="subtotal">Subtotal</label>
          <input readonly="readonly" inputmode="numeric" placeholder="Subtotal" type="text" id="subtotal"
            class="form-control">
        </div>
        <div class="col-sm">
          <label for="frete">Frete</label>
          <input inputmode="numeric" onkeyup="atualizaPreco()" placeholder="Frete" type="text" id="frete"
            class="form-control">
        </div>
        <div class="col-sm">
          <label for="desconto">Desconto</label>
          <input inputmode="numeric" onkeyup="atualizaPreco()" value="0,00" placeholder="Desconto" type="text"
            id="desconto" class="form-control">
        </div>
        <div class="col-sm">
          <label for="Total">Total</label>
          <input inputmode="numeric" readonly="readonly" value="0,00" placeholder="Total" type="text" id="Total"
            class="form-control">
        </div>
      </div>

      <div class="col-sm-12">
        <div class="row">
          {{ form.formasPagamento.label }}
          {{ form.formasPagamento(class_="form-control") }}
        </div>
        <div class="row">
          {{ form.observacao.label }}
          {{ form.observacao(class_="form-control md-textarea") }}
        </div>
      </div>
    </div>
    <!-- Fim Tabela de itens -->


    <!-- Final corpo -->
  </div>
</div>
<!-- FIM -->


{% endif %}


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='datetime-moment.js') }}"></script>
<script src="{{ url_for('static', filename='tables.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>
<script src="{{ url_for('static', filename='pedido.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}