{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
{% endblock %}

{% block page_content %}

<!-- Mensagens -->
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
  </div>
  {% endfor %}
{% endif %}

{% endwith %}
<!-- fim de mensagens -->

<div id="mensagemJs"> </div>




{% if pedidos == [] %}
<div class="text-center">
    <h2>Não há nenhum pedido para ser entregue!</h2>
    <img src="{{ url_for('static', filename='admin/pedidos.png')}}" class="image-responsive" height="300"><br><br>
    <br><br><br>
</div>
{% else %}
<div class="swiper-container">
    <div class="swiper-wrapper">
      {% for pedido in pedidos %}    
      <div class="swiper-slide">
        <div class="col-sm-12">
          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Pedido N°: {{ pedido.id }}</h6>
              <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                  <div class="dropdown-header">Ações:</div>
                  <a class="dropdown-item" href="{{ url_for('pedidos.visualizarPedido', id = pedido.id ) }}"><i class="fas fa-search"></i> Ver detalhes</a>
                  <a class="dropdown-item" href="{{ url_for('pedidos.proxStatusCozinha', id = pedido.id ) }}"><i class="fas fa-arrow-right"></i> Pedido pronto</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('pedidos.imprimir', id = pedido.id ) }}"><i class="fas fa-print"></i> Imprimir pedido</a>
                </div>
              </div>
            </div>
            <div class="card-body">

                <!-- Conteudo -->
                <div class="col-sm">
                  <div class="row">
                    <b>Cliente: {{ pedido.cliente.nome }}</b>
                  </div>
                  <div class="row">
                    <button type="button" class="btn btn-block btn-sm btn-{{ pedido.status.cor }}">
                      {{ pedido.status.nome }}
                    </button>
                  </div>
                </div>
              
                <div class="col-sm">
                  <div class="row">
                        <b>Valor total:</b> R$ {{ pedido.total|replace(".",",") }}
                  </div>
                  <div class="row">
                        <b>Forma de pagamento:</b> {{ pedido.formaPagamento }}
                  </div>
                </div>
                <div class="col">
                <table class="table table-sm table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Descrição</th>
                        <th>Valor</th>
                      </tr>
                    </thead>
                    <tbody>
                {% for item in itens %}
                  {% if item.id_pedido == pedido.id %}
                  
                    <tr>
                      <td >
                          <img src="{{ url_for('static', filename='images/products/'+item.estoque.imagem) }}" style="margin:5px;" width="70px" alt="">
                      </td>
                      <td>
                        <div class="col-sm">
                            <div class="row">
                              <b>{{ item.produto }}</b>
                            </div>
                            <div class="row">
                              <small>{{ item.estoque.descricaoProduto }}</small>
                            </div>
                            <div class="row">
                                <b>Qtd:</b> {{ item.quantidade }}
                            </div>
                        </div>
                      </td>
                      <td>
                        <div class="col-sm">                        
                            <div class="row">
                                R$ {{ item.precoUnitario|replace(".",",") }}
                            </div>
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
                    
                  </tbody>
                </table>
                </div>        
                <hr>
                <div class="col">
                <p><b>Obs:</b><br><small>{{ pedido.observacao }}</small></p>
                </div>
                <!-- Conteudo -->

            </div>
          </div>
      
        </div>

       
        
    </div>
      {% endfor %}


    </div>
    
    <div class="swiper-scrollbar"></div>
</div>

{% endif %}


{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='moment.min.js') }}"></script>    
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='datetime-moment.js') }}"></script>
<script src="{{ url_for('static', filename='tables.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 15,
      freeMode: true,
      grabCursor: true,
      scrollbar: {
        el: '.swiper-scrollbar',
        hide: true,
      },
    });
  </script>
{% endblock %}
