{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Visualizar pedido</h1>
    <div class="mb-2 mr-2">
        <a href="{{ url_for('pedidos.editarPedido', id=pedido.id) }}"><button type="button"
                class="btn btn-sm btn-success shadow-sm">Editar Pedido</button></a>
        <a href="{{ url_for('pedidos.imprimir', id=pedido.id) }}"><button type="button"
                class="btn btn-sm btn-outline-primary shadow-sm">Imprimir pedido</button></a>
        <a href="{{ url_for('pedidos.index') }}"><button type="button"
                class="btn btn-sm btn-danger shadow-sm">Voltar</button></a>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Cadastrar pedido </h6>
    </div>
    <div class="card-body">
        <!-- Corpo -->

        <div id="imprimir">
            <div id="cabecalho" class="container" style="display: none;">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{url_for('static', filename=config.logo)}}" style="margin-top:10px;"
                            class="img-fluid">
                    </div>
                    <div class="col-sm-8">
                        <strong>{{ config.nomeFantasia }}</strong>
                        <br>{{ config.CNPJ }}<br>
                        <strong>Telefone: </strong>{{config.telefone}}<strong> WhatsApp:
                        </strong>{{config.whatsapp}}<br>
                        <strong>Endereco: </strong> {{ config.endereco.endereco }},{{ config.endereco.numero }}, Bairro
                        {{ config.endereco.bairro }}, {{ config.endereco.municipio }}-{{ config.endereco.uf }},
                        {{ config.endereco.pais }}<br>
                        <strong>Numero do Pedido: </strong> {{ pedido.id }}
                    </div>
                </div>
                <hr>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <strong>Nome do cliente:</strong>
                        {{pedido.cliente.cliente}}
                    </div>
                </div>
                <div class="row">
                    {% if pedido.cliente.CPF == '' %}

                    {% else %}
                    <div class="col-sm">
                        <strong>CPF:</strong>
                        {{pedido.cliente.CPF}}
                    </div>
                    {% endif %}
                    {% if pedido.cliente.CNPJ == '' %}

                    {% else %}
                    <div class="col-sm">
                        <strong>CNPJ:</strong>
                        {{pedido.cliente.CNPJ}}
                    </div>
                    {% endif %}

                    <div class="col-sm">
                        <strong>Telefone:</strong>
                        <a target="_blank" href="tel:{{pedido.cliente.telefone}}">{{pedido.cliente.telefone}}</a>
                    </div>
                    <div class="col-sm">
                        <strong>Celular:</strong>
                        <a target="_blank" href="tel:{{pedido.cliente.celular}}">{{pedido.cliente.celular}}</a>
                    </div>
                    <div class="col-sm">
                        <strong>Email:</strong>
                        <a target="_blank" href="mailto:{{pedido.cliente.email}}">{{pedido.cliente.email}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Endereço: </strong>
                        <a target="_blank"
                            href="https://www.google.com/maps/search/?api=1&query={{encodedURL}}">{{enderURL}}</a>
                    </div>
                </div>
            </div>
            <div id="line" class="container"></div>
            <br>
            <div class="container">
                <table class="table table-sm table-striped table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>N°</th>
                            <th>Quantidade</th>
                            <th>Produto</th>
                            <th>Preço Unitário</th>
                            <th>Preço Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in itens %}
                        <tr {% if item.quantidade == '' or item.quantidade == ' ' %} style="display:none;" {% endif %}>
                            <td>{{loop.index}}</td>
                            <td>{{item.quantidade}}</td>
                            <td>{{item.produto}}</td>
                            <td>R$ {{item.precoUnitario}}</td>
                            <td>R$ {{item.precoTotal}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Subtotal:</th>
                            <td>R$ {{ pedido.subtotal }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Frete:</th>
                            <td>R$ {{ pedido.frete }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Desconto:</th>
                            <td>{{ pedido.desconto }}%</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Total:</th>
                            <td>R$ {{ pedido.total }}</td>
                        </tr>

                    </tfoot>
                </table>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <strong>Forma de pagamento</strong>
                        {{pedido.formaPagamento}}
                    </div>
                    <div class="col-sm">
                        <strong>Status do pedido</strong>
                        <button type="button" class="btn btn-sm btn-{{ pedido.status.cor }}">
                            {{ pedido.status.nome }}
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>Observação</strong>
                        {{pedido.observacao}}
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='datetime-moment.js') }}"></script>
<script src="{{ url_for('static', filename='tables.js') }}"></script>
{% endblock %}