{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
{% endblock %}

{% block page_content %}

<!-- Iniciar o form -->
<form action="{{url_for('usuarios.editarCliente', id=funcionario.id)}}" method="POST" enctype="multipart/form-data">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Editar cliente</h1>        
      <div class="mb-2 mr-2">
          {{ funcionarioForm.salvar(class_="btn btn-sm btn-success shadow-sm")}}            
          {{ funcionarioForm.cancelar(class_="btn btn-sm btn-danger shadow-sm")}}
      </div>        
    </div>
  
  <!-- Mensagens -->
  {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
          {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  {{ message }}
              </div>
              {% endfor %}
          {% endif %}
  {% endwith %}
  <!-- Mensagens -->
  
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Usuários </h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
              <div class="md-form">
                {{ funcionarioForm.nome.label }}
                {{ funcionarioForm.nome(class_="form-control", value=funcionario.nome) }}
              </div>
            </div>
            <div class="col-sm-6">
                <div class="md-form">
                  {{ funcionarioForm.cpf.label }}
                  {{ funcionarioForm.cpf(class_="form-control", inputmode="numeric", value=funcionario.CPF, readonly="readonly") }}
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <div class="md-form">
                {{ funcionarioForm.perfilUsuario.label }}
                {{ funcionarioForm.perfilUsuario(class_="form-control", inputmode="numeric") }}
              </div>
          </div>
          <div class="col-sm-3">
              <div class="md-form">
                {{ funcionarioForm.dataNascimento.label }}
                {{ funcionarioForm.dataNascimento(class_="form-control dp", inputmode="numeric", value=funcionario.dataNascimento.strftime("%d/%m/%Y")) }}
              </div>
          </div>
          <div class="col-sm-3">
              <div class="md-form">
                {{ funcionarioForm.frete.label }}
                {{ funcionarioForm.frete(class_="form-control", inputmode="numeric", value=funcionario.frete) }}
              </div>
          </div>
        </div>
        <hr>
        <h3>Informações de Localização</h3>
        <div class="row">
          <div class="col-sm">              
              {{ funcionarioForm.UF.label }}         
              {{ funcionarioForm.UF(class_="form-control", onchange="selecionarCidade('this.value')") }}
              {{ funcionarioForm.pais.label }}  
              {{ funcionarioForm.pais(class_="form-control") }}
          </div>
            <div class="col-sm">     
                  {{ funcionarioForm.municipio.label }}                  
                  {{ funcionarioForm.municipio(class_="form-control") }}           
                <div class="md-form">
                  {{ funcionarioForm.CEP.label }}   
                  {{ funcionarioForm.CEP(class_="form-control", onblur="pesquisacep(this.value);", inputmode="numeric", value=funcionario.endereco.cep) }}
                </div>                
            </div>
              
          </div>
          <div class="row">
              <div class="col-sm">
                 <div class="md-form">
                      {{ funcionarioForm.endereco.label }} 
                      {{ funcionarioForm.endereco(class_="form-control", value=funcionario.endereco.endereco) }}
                 </div>
              </div>
              <div class="col-sm-3">
                 <div class="md-form">
                      {{ funcionarioForm.numero.label }}
                      {{ funcionarioForm.numero(class_="form-control", inputmode="numeric", value=funcionario.endereco.numero) }}
                 </div>
              </div>
          </div>
          
         <div class="md-form">
              {{ funcionarioForm.complemento.label }} 
              {{ funcionarioForm.complemento(class_="form-control", value=funcionario.endereco.complemento) }}
         </div> 
         <div class="md-form">
              {{ funcionarioForm.bairro.label }}
              {{ funcionarioForm.bairro(class_="form-control", value=funcionario.endereco.bairro) }}
         </div> 
         <hr>
         <h3>Informações de contato</h3>
      <div class="row">
        <div class="col-sm">                
            <div class="md-form">
                {{ funcionarioForm.telefone.label }}
                {{ funcionarioForm.telefone(class_="form-control", inputmode="numeric", value=funcionario.telefone) }}
            </div>
        </div>
        <div class="col-sm">                
            <div class="md-form">
                {{ funcionarioForm.celular.label }}
                {{ funcionarioForm.celular(class_="form-control", inputmode="numeric", value=funcionario.celular) }}
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <div class="md-form">
              {{ funcionarioForm.email.label }}
              {{ funcionarioForm.email(class_="form-control", value=funcionario.email) }}
            </div>
        </div>
      </div>
      <hr>
      
    <div class="row">
        <div class="col-sm">
          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">Imagem de usuario</span>
              </div>
              <div class="custom-file">                    
                  {{ funcionarioForm.imagem(class_="custom-file-input", lang="pt") }}
                  <label class="custom-file-label" for="logo">Imagem de usuário</label>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
            <div class="form-group">
                {{ funcionarioForm.observacoes.label }}
                {{ funcionarioForm.observacoes(class_="form-control", rows="3") }}
              </div>
        </div>
      </div>
  
    </div>
  </div>
    
  </form>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>    
<script src="{{ url_for('static', filename='cadastro.js') }}"></script>    
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}