{% extends "baseInstall.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login - Administração{% endblock %}

{% block head %}
{{ super() }}

{% endblock %}

{% block content %}
<body>
    <div class="container">
            <!-- Section: Blog v.4 -->
    <section class="my-5">

            <!-- Grid row -->
            <div class="row">
        
            <!-- Grid column -->
            <div class="col-md-12">
        
                <!-- Card -->
                <div class="card card-cascade wider reverse">
        
                <!-- Card content -->
                <div class="card-body card-body-cascade">
        
                    <!-- Title -->
                    <h2 class="font-weight-bold text-center"><a>Dados da empresa</a></h2>
                <form action="{{url_for('install.index2')}}" method="POST" enctype="multipart/form-data">
                    <div class="col-sm-12">
                            <p class="text-center">Preencha as informações abaixo!</p>
                            <br>
                       <!-- Mensagens -->
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}">
<button type="button" class="close" data-dismiss="alert">&times;</button>
{{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
                            <br>
                            <h3>Informações comerciais</h3>
    <div class="row">
            <div class="col-sm">
                <div class="md-form">
                    {{ form.CNPJ(class_="form-control", required="required", inputmode="numeric")}}
                    {{ form.CNPJ.label }}
                </div>
            </div>
            <div class="col-sm">
                <div class="md-form">
                    {{ form.razaoSocial(class_="form-control", required="required")}}
                    {{ form.razaoSocial.label }} 
                </div>
            </div>
            <div class="col-sm">
                <div class="md-form">
                    {{ form.nomeFantasia(class_="form-control", required="required")}} 
                    {{ form.nomeFantasia.label }}
                </div>
            </div>
    </div>
    <hr>
    <h3>Contato da empresa</h3>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.whatsapp(class_="form-control", inputmode="numeric")}}
                {{ form.whatsapp.label }}
            </div>
        </div>
        <div class="col-sm">
            <div class="md-form">
                {{ form.facebook(class_="form-control")}}
                {{ form.facebook.label }}
            </div>
        </div>
        <div class="col-sm">
            <div class="md-form">
                {{ form.twitter(class_="form-control")}}
                {{ form.twitter.label }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.instagram(class_="form-control")}}
                {{ form.instagram.label }}
            </div>
        </div>
        <div class="col-sm">
            <div class="md-form">
                {{ form.youtube(class_="form-control")}}
                {{ form.youtube.label }}
            </div>
        </div>
        <div class="col-sm">
            <div class="md-form">
                {{ form.linkedin(class_="form-control")}}
                {{ form.linkedin.label }}
            </div>
        </div>
        <div class="col-sm">
            <div class="md-form">
                {{ form.telefone(class_="form-control", required="required", inputmode="numeric")}}
                {{ form.telefone.label }}
            </div>
        </div>                
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.email(class_="form-control", required="required")}}
                {{ form.email.label }}
            </div>
        </div>
    </div>
    <hr>
    <h3>Sobre a empresa</h3>
    <div class="row">
        <div class="col-sm">
            <div class="md-form"> 
                {{ form.descricao(class_="md-textarea form-control") }}
                {{ form.descricao.label }}
            </div>
        </div>    
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="md-form">
                {{ form.sobre(class_="md-textarea form-control") }}
                {{ form.sobre.label }}
            </div>
        </div> 
    </div>
    <hr>
    <h3>Logo e imagem</h3>
    <div class="col-sm">
        <div class="row">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Icone</span>
                </div>
                <div class="custom-file">                                               
                    {{ form.icon(class_="custom-file-input", lang="pt") }}
                    <label class="custom-file-label" for="icon">...</label>
                </div>
            </div>            
        </div>
        <br>
        <div class="row">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Logotipo</span>
                </div>
                <div class="custom-file">                                               
                    {{ form.logo(class_="custom-file-input", lang="pt") }}
                    <label class="custom-file-label" for="logo">...</label>
                </div>
            </div>  
        </div>
    </div>
    <hr>
    <h3>Localização</h3>
    <hr>
    <div class="row">

        <div class="col-sm">              
            {{ form.UF.label }}         
            {{ form.UF(class_="form-control", onchange="selecionarCidade('this.value')", required="required") }}
            {{ form.pais.label }}  
            {{ form.pais(class_="form-control", required="required") }}
        </div>
            <div class="col-sm">     
                {{ form.municipio.label }}                  
                {{ form.municipio(class_="form-control", required="required") }}           
                <div class="md-form">
                {{ form.CEP(class_="form-control", onblur="pesquisacep(this.value);", required="required", inputmode="numeric") }}
                {{ form.CEP.label }}   
                </div>                
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="md-form">
                    {{ form.endereco(class_="form-control", required="required") }}
                    {{ form.endereco.label }} 
                </div>
            </div>
            <div class="col-sm-3">
                <div class="md-form">
                    {{ form.numero(class_="form-control", required="required", inputmode="numeric") }}
                    {{ form.numero.label }}
                </div>
            </div>
        </div>
        
        <div class="md-form">
            {{ form.complemento(class_="form-control") }}
            {{ form.complemento.label }} 
        </div> 
        <div class="md-form">
            {{ form.bairro(class_="form-control", required="required") }}
            {{ form.bairro.label }}
        </div> 
    <hr>
    <div class="row">
        <div class="col-sm">
            {{ form.imprimir(required="required") }}
            {{ form.imprimir.label }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            {{ form.tipoImpressao(required="required") }}
            {{ form.tipoImpressao.label }}
        </div>
    </div>
    <div class="row">
            <div class="col-sm">
                    {{form.salvar(class_="btn btn-sm btn-primary")}}
                    {{form.cancelar(class_="btn btn-sm btn-danger")}}    
            </div>
        </div>
    </div>
</form>
                    
                    <!-- Social shares -->
        
                </div>
                <!-- Card content -->
        
                </div>
                <!-- Card -->
        
            </div>
            <!-- Grid column -->
        
            </div>
            <!-- Grid row -->     
        </section>
        <!-- Section: Blog v.4 -->
    </div>
    </body> 
  {% endblock %}

{% block scripts %}
{{ super() }}


<script src="{{ url_for('static', filename='cadastro.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>  
<script src="{{ url_for('static', filename='cadClientes.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>    
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}

