{% extends "baseInstall.html" %} {% import "bootstrap/wtf.html" as wtf %} {% block title %}Instalação{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<body>
    <div class="container">
        <!-- Section: Blog v.4 -->
        <section class="my-5">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12">

                    <!-- Card -->
                    <div class="card card-cascade wider reverse">

                        <!-- Card content -->
                        <div class="card-body card-body-cascade">

                            <!-- Title -->
                            <h2 class="font-weight-bold text-center"><a>Dados do proprietário</a></h2>
                            <form action="{{url_for('install.index1')}}" method="POST" enctype="multipart/form-data">
                                <div class="col-sm-12">
                                    <p class="text-center">Preencha as informações abaixo!</p>
                                    <!-- Mensagens -->
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                                    {% if messages %} {% for category, message in messages %}
                                    <div class="alert alert-{{ category }}">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button> {{ message }}
                                    </div>
                                    {% endfor %} {% endif %} {% endwith %}

                                    <br>
                                    <h3>Dados de acesso</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="md-form">
                                                {{ form.funcionario(class_="form-control", required="required") }} {{ form.funcionario.label }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-sm-6">
                                            <div class="md-form">
                                                {{ form.cpf(class_="form-control", required="required", inputmode="numeric") }} {{ form.cpf.label }}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="md-form">
                                                {{ form.dataNascimento(class_="form-control dp", required="required", inputmode="numeric") }} {{ form.dataNascimento.label }}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <h3>Localização<span style="color:red;">*</span></h3>

                                    <hr>
                                    <div class="row">

                                        <div class="col-sm">
                                            {{ form.UF.label }} {{ form.UF(class_="form-control", onchange="selecionarCidade('this.value')", required="required") }} {{ form.pais.label }} {{ form.pais(class_="form-control", required="required") }}
                                        </div>
                                        <div class="col-sm">
                                            {{ form.municipio.label }} {{ form.municipio(class_="form-control", required="required") }}
                                            <div class="md-form">
                                                {{ form.CEP(class_="form-control", onblur="pesquisacep(this.value);", required="required", inputmode="numeric") }} {{ form.CEP.label }}
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="md-form">
                                                {{ form.endereco(class_="form-control", required="required") }} {{ form.endereco.label }}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="md-form">
                                                {{ form.numero(class_="form-control", required="required", inputmode="numeric") }} {{ form.numero.label }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="md-form">
                                        {{ form.complemento(class_="form-control") }} {{ form.complemento.label }}
                                    </div>
                                    <div class="md-form">
                                        {{ form.bairro(class_="form-control", required="required") }} {{ form.bairro.label }}
                                    </div>
                                    <br>
                                    <h3>Informações de contato</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="md-form">
                                                {{ form.telefone(class_="form-control", required="required", inputmode="numeric") }} {{ form.telefone.label }}
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="md-form">
                                                {{ form.celular(class_="form-control", required="required", inputmode="numeric") }} {{ form.celular.label }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <div class="md-form">
                                                {{ form.email(class_="form-control") }} {{ form.email.label }}
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm">
                                            {{form.salvar(class_="btn btn-sm btn-primary")}} {{form.cancelar(class_="btn btn-sm btn-danger")}}
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Social shares -->

                        </div>
                        <!-- Card content -->

                    </div>
                    <!-- Card -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <hr class="mb-5 mt-4">
        </section>
        <!-- Section: Blog v.4 -->
    </div>
</body>
{% endblock %} {% block scripts %} {{ super() }} {{ datepicker.loader(theme="flick") }} {# to load jQuery-ui #} {{ datepicker.picker(id=".dp", btnsId='.dpBtn', dateFormat='dd/mm/yy') }}

<script src="{{ url_for('static', filename='cadastro.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.mask.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='cadClientes.js') }}"></script>
<script src="{{ url_for('static', filename='forms.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}